.cardMediaCss {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
.cardMediaCss:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
